#dashboard {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  font-size: 10px;
  align-items: center;
  text-align: center;
}

tr {
  background-color: #ceedc7;
  padding: 2px;
}
